{% extends "base.html" %}

{% block title %}
	{{page.title}}
{% endblock title %}

{% block content %}
	
	
	
	<h1><a href="department">Хэсэг нэгж</a></h1>
	<table>
		<thead>
			<tr>
				<th>Нийт</th><th>Идвэхтэй</th><th>Идвэхгүй</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td><td>2</td><td>3</td>
			</tr>
		</tbody>
	</table>
	
	<h1><a href="position">Албан тушаал</a</h1>
	<table>
		<thead>
			<tr>
				<th>Нийт</th><th>Идвэхтэй</th><th>Идвэхгүй</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td><td>2</td><td>3</td>
			</tr>
		</tbody>
	</table>
	
	<h1><a href="employee">Ажилтан</a</h1>
	<table>
		<thead>
			<tr>
				<th>Нийт</th><th>Идвэхтэй</th><th>Идвэхгүй</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td><td>2</td><td>3</td>
			</tr>
		</tbody>
	</table>
	<h1><a href="interactive">Интерастив</a</h1>
	<table>
		<thead>
			<tr>
				<th>Нийт</th><th>Идвэхтэй</th><th>Идвэхгүй</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td><td>2</td><td>3</td>
			</tr>
		</tbody>
	</table>
	
{% endblock %}